@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #3A3A3A;
}

.btn-primary {
    color: #fff;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    padding: 10px 24px;
}

/* header style */
header {
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px 0px 120px;
}

nav>ul {
    display: flex;
    gap: 34px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

.nav-title {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.banar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 50px 132px 70px 120px;
}

.banar-title {
    color: var(--primary-color);
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banar-discription {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 16px;
}

.banar-img {
    background-image: url("../images/Circle\ design.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}